NODE_ENV = 'development'

PORT = 8080
MONGO_URL = 'your_mongodb_url'

JWT_SECRET_KEY = 'LET-ME-IN'
JWT_REFRESH_KEY = 'LET-ME-IN'
JWT_LIFE_TIME = '3d'

CLOUDINARY_CLOUD_NAME = 'cloud-name'
CLOUDINARY_API_KEY = 'api-key'
CLOUDINARY_API_SECRET = 'api-secret'
